# Déploiement de l'application 2
# Crée et maintient 1 pod avec un serveur web simple

apiVersion: apps/v1
kind: Deployment
metadata:
  name: app2
  labels:
    app: app2
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app2
  template:
    metadata:
      labels:
        app: app2
    spec:
      containers:
      - name: app2
        image: hashicorp/http-echo
        args:
          - "-text=Hello from App 2"
        ports:
        - containerPort: 5678 # port interne de l'application

# Source Image : https://hub.docker.com/r/hashicorp/http-echo