# Déploiement de l'application 2
# Crée et maintient 1 pod avec un serveur web simple

apiVersion: apps/v1
kind: Deployment
metadata:
  name: app3
  namespace: applications-web
  labels:
    app: app3
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app3
  template:
    metadata:
      labels:
        app: app3
    spec:
      containers:
      - name: app3
        image: paulbouwer/hello-kubernetes:1.10
        ports:
        - containerPort: 8080
        env:
        - name: MESSAGE
          value: Hello from App 3
        - name: KUBERNETES_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace

# Source Image : https://hub.docker.com/r/paulbouwer/hello-kubernetes/